
.footer{
    margin-top: 5em;
    padding: 3em 6em;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    min-height: 10em;
    align-items: center;
    justify-content: space-between;
}

.logoFooter img{
    max-width: 100%;
}   
.logoFooter{
    max-width: 20%;
}

.footerOptions{
    text-align: center;
    margin: 1em 0;
}
.footerOptions li{
   list-style: none;
   margin-top: 0.2em;
}
.footerOptions{
    min-width: 30em;
}

h3{
    font-weight: 200;
    margin-bottom: 2em;
}

.newsletter h3{
text-align: center;}

.newsletter input{
    border-color: white;
    width: 15em;
    height: 2em;
}
.newsletter button{
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    margin-right: 1em;
}
input{
    margin-bottom: 1em;
}
#buttonSubscribe{
    margin: auto;
    margin-top: 1em;
    background-color: black;
    color: white;
    height: 4em;
    width: 9em;
    font-family: 'Quicksand';
    border-color: white;

}
#buttonSubscribe:hover{
    transition: 0.5s;
    background-color: white;
    color: black;
}
