
.home_container{
    margin: auto;
    margin-top: 3em;
    display: flex;
    min-height: 70vh;
    max-width: 70%;
    padding-right: 2em;
    
}
.home_container h2{
    margin-left: 0.5em;
    text-decoration: none;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
#live{
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../images/Home/home_live.jpg');
    min-width: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    margin-right: 1em;
    
}
#live:hover{
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 2.7s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../images/Home/home_live.jpg');
}
a:visited, a:active{
    color: black;
}

.home_container a:visited, .home_container a:active{
    color: white;
}

h2{
    
    margin-bottom: 0.5em;
    color: white;
    font-family: 'Quicksand';
    font-size: 2em;
    font-weight: 200;
}


.apartado{
    display: flex;
    min-width: 50%;
    flex-direction: column;
    
}

.apartado div{
    margin: 0;
}
#kitchen{
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../images/Home/home_kitchen.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1em;
    
}
#kitchen:hover{
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 2.7s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../images/Home/home_kitchen.jpg');
}
#bedroom{
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../images/Home/home_bedroom.jpg');
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    display: flex;
    align-items: flex-end;
   
}
#bedroom:hover{
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 2.7s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../images/Home/home_bedroom.jpg');
}
#all{
    margin-left: 1em;
    background-image:linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),  url('../images/Home/home_all.jpg');
    min-width: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}
#all:hover{
    transition: background-image 0.5s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../images/Home/home_all.jpg');
}


.banner{
    background-color: rgb(227, 227, 227);
    max-width: 70%;
    margin: auto;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.banner_content{
    margin: auto;
    font-family: 'QuickSand';
    max-width: 50%;
       
}
.banner_content h2{
    color: black;
    margin-bottom: 1em;
    margin:auto;
    text-align: center;
}
.banner_image{
    max-width: 40%;
    min-width: 40%;
    display: flex;
    justify-items: center;
    
}
.banner_image img{
    max-width: 80%;
    min-width: 80%;
    
}
.banner_content p{
    font-size: 1.5em;
    text-align: center;
    
    
}    
.contenedorBotonHome{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}
#buttonShopHome{
    font-size: 1.5em;
        background-color: rgb(227, 227, 227);
    padding: 0.5em;
    
}
#buttonShopHome:hover{
    transition: 0.5s;
    background-color: rgba(39, 39, 39, 0.929);
    color: white;
    border-color: white;
    
}
@media only screen and (max-width: 1142px){
    .banner_image img{
        margin:auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }
  
    .banner_content{
        min-width: 90%;
        margin: auto;
        
    }
}

@media only screen and (max-width: 686px){
    .home_container{
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    #live, #bedroom, #kitchen, #all{
        min-height: 20em;
        background-position: 0% 50%;
        margin: 0;

        margin-bottom: 1em;
        
    }

}

.carousel-inner{
    width:640px;
    height:360px;
}

.carousel-inner  .item  img {
    width:640px;
    height:360px;
  }

